.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding:15px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom:15px;
}    
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    
}
.main {
    height: 400px;
    width: 735px;
    background-color: red;
    vertical-align: top;
    margin-left:10px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 15px 0px 15px 15px; 
    
}
#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    margin: 5px 10px 0px 15px;
}

.side-nav, .main{ 
display: inline-block;
}